In [ ]:
withdirawalAmount= float(input("enter your amount: "))
balance=5000
# print(NetAmount)
if NetAmount <= balance:
  print('withdraw success')
  NetAmount=balance-withdirawalAmount
  print('remaining balance: ', NetAmount)
else:
  print('insufficient')

enter your amount: 4500

NameError: name 'NetAmount' is not defined

In [ ]:
withdrawalAmount = float(input("Enter your amount: "))
balance = 5000

if withdrawalAmount <= balance:
    NetAmount = balance - withdrawalAmount
    print('Withdraw success')
    print('Remaining balance:', NetAmount)
else:
    print('Insufficient balance')

Enter your amount: 4500
Withdraw success
Remaining balance: 500.0

In [ ]:
for i in range(0,10):
  print(i)
  # if i==5:
  #   break

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [ ]:
for i in range(0,10):
  print(i)
  if i==5:
    continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)
  if i==5:
    pass #though its i==5 pass k wajah se aage jayega

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  if i%2==0: #remainder check krta hai 0, aur phir print
    print(i)

0
2
4
6
8

In [ ]:
for i in range(0,10):
  if i%2==1:
    print(i)

1
3
5
7
9

In [ ]:

number=float(input('enter the nuber:'))

threshould=200

if number>threshould:
  print('number is greater than threshould')
elif number<threshould:
  print('number is less than threshould')
else:
  print('number is equal to threshould')

enter the nuber:150
number is less than threshould

In [ ]:
marks=float(input('enter your marks: '))
if marks>=80:
  print('Bright student')
elif marks>=70 and marks<=79:
  print('Good Student')
elif marks>=60 and marks<=69:
  print('Average Student')
elif marks>=50 and marks<=59:
  print('weak Student')
else:
  print('low grade')

enter your marks: 49
low grade

In [ ]:
num=int(input('enter nummber'))
fact=1
for i in range (1,num+1):
  fact=fact*i
print(fact)

enter nummber5
120

In [ ]:
#square root and power
num=2**3 #power 3

num1=4**0.5
print(num)
print(num1)

8
2.0

In [ ]:
num=0
while num<10:
  num = num+1
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,6):
  print('*'*i)

*
**
***
****
*****

In [ ]:

for i in range(6,0,-1):
  print('*'*i)

******
*****
****
***
**
*

In [ ]:
for i in range(0,6):
    print('*'*i)
for i in range(6,0,-1):
  print('*'*i)

*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
for i in range(1, 6):  # start from 1 to avoid empty first line
    spaces = ' ' * (5 - i)
    stars = '*' * (2 * i - 1)
    print(spaces + stars)

    *
   ***
  *****
 *******
*********