In [ ]:
# Pandas Library

import pandas as pd
# pandas = Library
# pd = Alias Name

In [ ]:
# Pandas Library

import pandas as pd

b = np.array([10,20,30,40])  # Numpy Array

a = pd.Series(b)      # 1D array using Pandas function
print(a)

a = pd.Series(b, index = ['IND','USA','UK','AUS'] )      # 1D array using Pandas function
print(a)

0    10
1    20
2    30
3    40
dtype: int64
IND    10
USA    20
UK     30
AUS    40
dtype: int64

In [ ]:
print(a['UK'])

30

In [ ]:
c = pd.Series([1,2,3,4,5])
c

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import numpy as np

In [ ]:
b = np.array([10,20,30,40])  # Numpy Array

a = pd.Series(b, index = ['IND','USA','UK','AUS'] )      # 1D array using Pandas function
print(a)

IND    10
USA    20
UK     30
AUS    40
dtype: int64

In [ ]:
#2D : 2 Dimensional

c = pd.DataFrame({'Ind':[10,20,30], 'Pak':[100,200,300]})
print(c)

   Ind  Pak
0   10  100
1   20  200
2   30  300

In [ ]:
print(c['Ind'][1])

20

In [ ]:
print(c['Pak'][2])

300

In [ ]:
print(c.sum(axis = 0))

Ind     60
Pak    600
dtype: int64

In [ ]:
print(c.sum(axis = 1))

0    110
1    220
2    330
dtype: int64