In [ ]:
  num1=float(input('enter the first number'))
num2=float(input('enter the second number'))
num3=num1+num2

print('addition of two given numbers: ',num3)

enter the first number2.48
enter the second number3.69
addition of two given numbers:  6.17

In [ ]:
# AREA OF CIRCLE


pi=3.14
r=float(input("please enter radius: "))
area=pi*r*r
print('radius of circle:', area)

please enter radius: 2.5
radius of circle: 19.625

In [ ]:
# circumference OF CIRCLE


pi=3.14
r=float(input("please enter radius: "))
circumference=2*pi*r
print('radius of circle:', circumference)

please enter radius: 2
radius of circle: 12.56

In [ ]:
# F string method
print(f'Circumference of circle is {circumference}mm')
print(f'radius of circle {r}mm and Area of circle is {area}mm^2')

Circumference of circle is 12.56mm
radius of circle 2.0mm and Area of circle is 19.625mm^2

In [ ]:
str="hello"
str1="world"
str2=(str+' '+str1)
print(str2)

hello world

In [2]:
# string indexing

St= 'Hello Welcome to WOrld of Python Programming'

#String Slicing
print(St[6])
print(St[-10])
print(St[2:9]) #without 9th
print(St[:-1]) #without -1 total
print(St[::2]) # start:stop:step
print(St[::4]) # start:stop:step

print(St[4:-4:2])

print(St[::-1])

W
r
llo Wel
Hello Welcome to WOrld of Python Programmin
HloWloet Ol fPto rgamn
Hole lft gm
oWloet Ol fPto rga
gnimmargorP nohtyP fo dlrOW ot emocleW olleH

In [3]:
St= 'Hello Welcome to WOrld of Python Programming'
print(St[::-1])
print(St[::1])
print(St[4:-4:-1]) #no output coz starting and nding is gone

gnimmargorP nohtyP fo dlrOW ot emocleW olleH
Hello Welcome to WOrld of Python Programming

In [35]:
# *List defination: n dimensional array*

lst=[100,200,300,400]
print(lst[2])
print(lst[:-2])

lst1=[100,200,300,400,[500,600,700,800,['Hi','Python','How']]]
print(lst[:2])
print(lst1[4][2])
print(lst1[4][4][1]) #indexing [4] pe 400, [4] pe Hi, [1] Python

300
[100, 200]
[100, 200]
700
Python

In [ ]:
lst2=[100,[200,300,[10,20,400,500,'Hi',[500],200],400,456],78]
print(lst2[1][2][4])
print(lst2[1][2][5][0])
print(lst2[-2][-2])

Hi
500
400

In [18]:
#1Apr2025

lst=[]
lst.append('Hello')
lst.insert(1, 'Word')
print(lst)

print(lst)
lst.remove('Hello')
print(lst)
lst.pop()

['Hello', 'Word']
['Hello', 'Word']
['Word']

'Word'

In [22]:
lst = [10, 20, 30, 40, 50, 60]
lst.append(60)
lst.insert(3,1000) #add specific index
lst.remove(30)
print(lst)

[10, 20, 1000, 40, 50, 60, 60]

In [28]:
lst=[100,200,100,300,400,500,500]
# lst.remove(100)
# lst.remove(300) #first occurance will be removed
lst.pop(1) #index pe udega
print(lst)

[100, 100, 300, 400, 500, 500]

In [31]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
  print(i, end = "  ") #print all with two spaces in between

1  2  3  4  5  6  7  8  9  10

In [34]:
tup= (10,20,30)
print(type(tup)) #no duplicate in tuple round braces

a={1,2,3,4,5} #set curly
print(type(a))
tup.count(10)
#list is n dimensional array

<class 'tuple'>
<class 'set'>

1